body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.main-section {
  display: flex;
}
.img-mac {
  width: 50%;
  margin: 40px;
  height: 50vh;
}
.img-section {
  display: flex;
  justify-content: center;
  width: 50%;
}
.info-section {
  width: 50%;
}
/* product details */
h1 {
  font-size: 40px;
}
.product-details {
  margin-top: 40px;
}
.memory {
  margin-top: 20px;
}
.memory-h,
.storage-h,
.delivery-h {
  margin-bottom: 5px;
}
.price-range {
  width: 35%;
  /* display: flex; */
  line-height: 10px;
  margin: 30px 0;
  /* justify-content: space-between; */
}
.price-amount {
  margin-left: 30px;
}
.price-name {
  display: flex;
}
.total-price {
  display: flex;
  justify-content: space-between;
  margin-top: -15px;
}
.total-value {
  margin-right: 12px;
}
button {
  padding: 5px 20px;
  border-radius: 5px;
  border-color: aliceblue;
  cursor: pointer;
}
.promo-button {
  background-color: rgba(255, 0, 0, 0.87);
  color: aliceblue;
  padding: 7px 20px;
  border: 0;
  cursor: pointer;
}
input {
  height: 23px;
}
.total-final-value {
  text-align: center;
}
